@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.btn {
    cursor: pointer;
    background-color: white;
    display: flex;
    padding: 24px 48px;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.container {
    width: 1280px;
}